
/* settings for screens smaller than 1150*/
@media only screen and (max-width: 1150px) {
  .area{
    display: flex;
    margin-left: 5px;
    justify-content: center;
  }
  .container{
    display: flex;
    width: 90%;
    flex-direction: column;
    padding-top: 50px;
  }

  p{
    font-size: 15px;
    }
  
  h1{
    font-size: 45px;
    margin: 0px;
  }

  .blog-title{
    font-size: 20px;
    line-height: .5em !important; 
    font-weight: 300;
  }

}


/* settings for screens larger than 1150*/
@media only screen and (min-width: 1150px) {
  .area{
    display: flex;
    margin-left: 60px;
    width: 80%;
    justify-content: center;
  }
  .container{
    display: flex;
    width: 90%;
    padding-left: 60px;
    flex-direction: column;
    padding-top: 50px;
  }

  p{
    font-size: 17px;
    line-height: 10%;
  }

  .blog-title{
    font-size: 30px;
  }

}

p{
  line-height: 1.8em;
}

.container{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
.blog-title{
  color: #222222;
  text-decoration: none;
  margin: 0px;
}

.date{
  color: rgba(153, 153, 153, 0.7);
  margin-top: 0px;
}
img{
  margin-top:40px;
}
